{{ define "Migrar" }}
  {{ template "Header" }}
  {{ template "Menu" }}
    <b><center><h1><font face="Tahoma" size="5" color="black"> Dados Migrados com Sucesso! </font></h1></center></b></br>
  {{ template "Footer" }}
{{ end }}